<div id='img'></div>

<h1>Eat-Da-Burger!</h1>

<div id='menu'>
    <ul id='ready'>
        {{#each burgers}}
            {{#unless devoured}}
                <li>{{id}}. {{burger_name}}
                <button class="ready_burger" data-id="{{id}}" data-newdevoured=1>Devour !!!</button>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
    <ul id='deliver'>
        {{#each burgers}}
            {{#if devoured}}
                <li>{{id}}. {{burger_name}}</li>
            {{/if}}
        {{/each}}
    </ul>
</div>


<form id="create-form">
  <div class="form-group">
    <label for="id_burger"></label>
    <input type="text" id="id_burger" name="name_burger">
  </div>
  <button type="submit" id='addBurger'>submit</button>
</form>




